In [3]:
from mgnify_oop import AbundanceTable

from pathlib import Path
import pandas as pd

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
mgnify = AbundanceTable.from_csv(
    Path.home() / "coding/emo-bon/momics-demos/data/mgnify_data/ERP003634_taxonomy_abundances_SSU_v5.0.tsv",
    sep="\t",
)

In [7]:
mgnify.df

,#SampleID,ERR2010979,ERR315850,ERR315851,ERR315852,ERR315853,ERR315854,ERR315855
0,sk__Archaea,4,0,0,0,0,0,0
1,sk__Archaea;k__;p__Euryarchaeota;c__Candidatus...,295,0,0,0,0,0,0
2,sk__Archaea;k__;p__Euryarchaeota;c__Thermoplas...,261,0,0,0,0,0,0
3,sk__Archaea;k__;p__Thaumarchaeota;c__;o__Nitro...,3,0,0,0,0,0,0
4,sk__Bacteria,939,202,962,741,669,327,424
...,...,...,...,...,...,...,...,...
492,sk__Eukaryota;k__;p__;c__Polycystinea;o__Spume...,3,0,0,0,0,0,0
493,sk__Eukaryota;k__;p__Bacillariophyta,1,0,0,0,0,0,0
494,sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...,0,1,0,0,0,0,0
495,sk__Eukaryota;k__Metazoa;p__Chordata;c__Append...,1,0,0,0,0,0,0
496,sk__Eukaryota;k__Viridiplantae,2,0,0,0,0,0,0

In [8]:
df = pd.read_csv(
    Path.home() / "coding/emo-bon/momics-demos/data/mgnify_data/ERP003634_taxonomy_abundances_SSU_v5.0.tsv",
    sep="\t",
)

In [9]:
df.index

RangeIndex(start=0, stop=497, step=1)

In [10]:
df.columns

Index(['#SampleID', 'ERR2010979', 'ERR315850', 'ERR315851', 'ERR315852',
       'ERR315853', 'ERR315854', 'ERR315855'],
      dtype='object')

In [11]:
df['#SampleID']

0                                            sk__Archaea
1      sk__Archaea;k__;p__Euryarchaeota;c__Candidatus...
2      sk__Archaea;k__;p__Euryarchaeota;c__Thermoplas...
3      sk__Archaea;k__;p__Thaumarchaeota;c__;o__Nitro...
4                                           sk__Bacteria
                             ...
492    sk__Eukaryota;k__;p__;c__Polycystinea;o__Spume...
493                 sk__Eukaryota;k__;p__Bacillariophyta
494    sk__Eukaryota;k__Metazoa;p__Arthropoda;c__Mala...
495    sk__Eukaryota;k__Metazoa;p__Chordata;c__Append...
496                       sk__Eukaryota;k__Viridiplantae
Name: #SampleID, Length: 497, dtype: object

In [24]:
def is_mgnify_raw(df: pd.DataFrame) -> bool:
    required_cols = {"#SampleID"}
    missing = required_cols - set(df.columns)
    starts_with_sk = bool(df['#SampleID'].str.startswith("sk__").all())
    unique_sample_ids = df['#SampleID'].is_unique
    return len(missing) == 0 and isinstance(df.index, pd.RangeIndex) and unique_sample_ids and starts_with_sk

In [25]:
is_mgnify_raw(df)

True

In [18]:
df['#SampleID'].is_unique

True

In [23]:
bool(df['#SampleID'].str.startswith("sk__").all())

True